<section>
    <div class="container mt-4">
        <h2 class=""> add product</h2>
        <div class="row">
            
            <form action="/admin/add-product" enctype="multipart/form-data" method="post">
                <label>Name</label>
                <input type="text" value="Name" class="form-control" name="Name">
                <label>Category</label>
                <input type="text" value="Category" class="form-control" name='Category'>
                  <label>Price</label>
                <input type="text" value="Price" class="form-control" name="Price">
                <label>Description</label>
                <input type="text" value="Description" class="form-control" name="Description">
                <form>
  
               <label for="file">Image</label>
              <input type="file" class="form-control-file" id="file" value="Image" name='Image'>
              
              <input type="submit" class="btn btn-success" value="submit">


                <form>

            </form>
        </div>
    </div>
</section>